* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #3575ff 0%, #f192bb 100%);
    color: #333;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 45rem;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    width: 100%;
    background-color: aliceblue;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.tab-control {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 1.25rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.tab-control:hover {
    color: #3565ff;
}

.tab-content {
    border-top: 1px solid #3575ff;
    padding: 1rem;
}

.tab-panel {
    display: none;
}

p {
    margin-bottom: 1rem;
}

input[type=radio]:checked+.tab-control {
    font-weight: 600;
    color: #3565ff;
    border-bottom-color: #3565ff;
}

#tab-1:checked~.tab-content>#tab-panel-1 {
    display: block;
}

#tab-2:checked~.tab-content>#tab-panel-2 {
    display: block;
}

#tab-3:checked~.tab-content>#tab-panel-3 {
    display: block;
}